@model IEnumerable<HotelProject.Models.Propertie>
@{
    ViewData["Title"] = "Propertie_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Список опций</title>
</head>
<body>
    <h3>Список категорий</h3>
    <table>
        <tr>
            <td>Название:</td>
            <td>Описание:</td>
            <td>Цена:</td>
        </tr>
        @foreach (var propertie in Model)
        {
            <tr>
                <td>@propertie.Title</td>
                <td>@propertie.Description</td>
                <td>@propertie.Image</td>
                <td><a href="~/Propertie/Propertie_Edit/@propertie.Id">Изменить</a></td>
                <td><a href="~/Propertie/Propertie_Delete/@propertie.Id">Удалить</a></td>
            </tr>
        }
    </table>
    <a href="~/Propertie/Propertie_Add">Добавить</a>


</body>
</html>

