@model HotelProject.Models.Request
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Удаление </title>
</head>
<body>
    <dl>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>Почта</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Время</dt>
        <dd>
            @Html.DisplayFor(model => model.DataTimeRequest)
        </dd>
        <dt>Текст</dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }
</body>
</html>