@model HotelProject.Models.Image
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>
<h3>Выберите файл для загрузки</h3>
<form asp-action="Add" asp-controller="Image" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <br />

    @Html.DropDownListFor(model => model.ProductId, ViewBag.Products as SelectList);
    <br />

     <input type="submit" value="Загрузить" />
</form>

