@model HotelProject.Models.Image
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Удаление</h2>
<div>

    <h4>Изображение</h4>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>Изображение</dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>Продукт</dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
