@model HotelProject.Models.Client
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Удаление клиента</title>
</head>
<body>
    <dl>
        <dt>Имя клиента</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Почта</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Удалить" />
    }
</body>
</html>
