@model IEnumerable<HotelProject.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Отель</title>
</head>
<body>
    <h3>Выберите </h3>
</body>
</html>
