@*@model IEnumerable<HotelProject.Models.Product>*@
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Отель</title>
</head>
<body>
    <h3>Админская панель</h3>
    <h4>Товар</h4>
    <a href="~/Product/Product_index">Перейти</a>
    <h4>Категории</h4>
    <a href="~/Category/Admin_index">Перейти</a>
    <h4>Опции</h4>
    <a href="~/Option/Option_index">Перейти</a>
    <h4>Свойства</h4>
    <a href="~/Propertie/Propertie_index">Перейти</a>
    <h4>Заказы</h4>
    <a href="~/Order/index">Перейти</a>
    <h4>Запросы</h4>
    <a href="~/Request/index">Перейти</a>
    <h4>Комментарии</h4>
    <a href="~/Comment/index">Перейти</a>
    <h4>Клиенты</h4>
    <a href="~/Client/index">Перейти</a>
    <h4>Пользователи</h4>
    <a href="~/User/index">Перейти</a>
    <h4>Картинки</h4>
    <a href="~/Image/index">Перейти</a>
</body>
</html>
